{% extends "sidebar_base.html" %}

{% block extra_title %}analysis module{% endblock %}

{% block sidebar %}
<li class="accordion-heading active">
    <a href="#collapse_1" class="accordion-toggle" data-toggle="collapse"><i class="icon-home"></i> Collapse Menu</a>
</li>
<div class="accordion-body collapse in" id="collapse_1">
    <ul class="nav nav-list">
        <li><a href=""><i class="icon-book"></i></a></li>
        <li><a href=""><i class="icon-book"></i></a></li>
    </ul>
</div>
<li><a href=""><i class="icon-home"></i></a></li>
<li><a href=""><i class="icon-home"></i></a></li>
{% endblock %}

{% block sidebar_body %}
{% endblock %}
