{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block extra_body %}
    <!-- NAVBAR
    ================================================ -->
    <div class="navbar-wrapper">
    <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
        <div class="container">
            {% block topbar_base %}
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive css to utilize. -->
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% block site_brand %}
                    <a class="brand" href="#">Site name{{ SITE_NAME }}</a>
                    <!-- Responsive Navbar Part 2: Place all navbar content you want collapsed withing .navbar-collapse.collapse. -->
                    {% endblock %}
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="{% url "home" %}">{% trans "Home" %}</a></li>
                            <li><a href="#About">{% trans "About" %}</a></li>
                            <li><a href="#Contact">{% trans "Contact" %}</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% trans "Language" %}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a lang="en" href="#">
                                        {% trans "English" %}
                                    </a></li>
                                    <li><a lang="zh" href="#">
                                        {% trans "Chinese" %}
                                    </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.nav-collapse -->
                </div><!-- /.nav-inner -->
            </div><!-- /.navbar -->
            {% endblock %}
        </div><!-- /.container -->
    </div><!-- /.navbar_wrapper -->

    {% block extra_navbar_body %}
    {% endblock %}
{% endblock %}

{% block extra_script %}
    <script lanuage="javascript">
        $(document).ready(function(){
            $(".dropdown-menu li a").each(function(){
                $(this).attr('href', 'javascript:void(0);')
                    .bind('click', function(){
                        var lang = $(this).attr("lang");
                        $.post("/i18n/setlang/", { language: lang })
                        .done(function(data) {
                            window.location.replace(window.location.href);
                        });
                    });
            });
        });
    </script>
    {% block extra_navbar_script %}{% endblock %}
{% endblock %}
